/* start global */
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
/* end global */

/* start header */
header {
  width: 100%;
  height: 65vh;
  text-align: center;
  background-color: #eee;
  color: black;
  overflow: hidden;
}
.header-text {
    padding: 70px 0 0 0;
}
.header-text h1 {
  font-family: cursive;
  font-size: 80px;
}
.header-text p {
  padding-top: 10px;
  font-size: 25px;
  font-weight: bold;
  font-family: cursive;
}
.header-text a {
  text-decoration: none;  
  color: black;
}

/* end header */

/* start main */
main {
  background-color: #ffffff;
  overflow: hidden;
}
main .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 15px;
  margin: 20px 50px;
  text-align: center;
  overflow: hidden;
}
.content .card {
  background-color: rgb(238, 238, 238);
  color: #afafaf;
  overflow: hidden;
  margin-bottom: 20px;
}
.content .card .main-text {
  padding: 20px;
}
.content .card .main-text h4 {
  font-size: 18;
  color: rgb(49, 49, 49);
  margin-top: 15px;
}
.content .card .main-text p {
  color: rgb(63, 63, 63);
}
.content .card .main-text h4,
p {
  margin-bottom: 15px;
}
.content .card .main-text button {
  width: 100%;
  padding: 12px 0;
  border-radius: 5px;
  border: 0;
  outline: none;
  color: white;
  cursor: pointer;
}
.content .card .main-text button:hover {
  opacity: 0.8;
}
.content .card.one .main-text button {
  background: #82cec6;
}
.content .card.two .main-text button {
  background: #92a2d6;
}
.content .card.three .main-text button {
  background: #9d7ed0;
}
.content .card.four .main-text button {
  background: #92a2d6;
}
.content .card.five .main-text button {
  background: #9d7ed0;
}
.content .card.six .main-text button {
  background: #82cec6;
}
.content div img {
  width: 100%;
}
.content div img:hover {
  transition: 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}
.content div:first-child {
  grid-column: 1/2;
  grid-row: 1/2;
}
.content div:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.content div:nth-child(3) {
  grid-column: 3/-1;
  grid-row: 1/2;
}
.content div:nth-child(4) {
  grid-column: 1/2;
  grid-row: 2/-1;
}
.content div:nth-child(5) {
  grid-column: 2/3;
  grid-row: 2/-1;
}
.content div:nth-child(6) {
  grid-column: 3/-1;
  grid-row: 2/-1;
}
/* end main*/

/* start footer */
footer {
  margin-top: 40px;
  text-align: center;
  background-color: #eee;
}
footer .footer-text {
  margin-top: 20px;
  width: 80%;
  margin: 0 auto;
}
footer .footer-text h1 {
  padding: 40px 0;
}
footer ul li {
  display: inline-block;
  list-style: none;
  border: 2px solid #afafaf;
  border-radius: 50%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5px;
  cursor: pointer;
}
/* end footer */

/* media query */

@media (max-width: 735px) {
  /* start header */
  header {
    height: 60vh;
  }
  .header-text h1 {
    font-size: 65px;
    margin-bottom: 20px;
  }
  .header-text p {
    font-size: 20px;
  }
  /* end header */

  /* start main */

  main .content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .content div:first-child {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .content div:nth-child(2) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  .content div:nth-child(3) {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
  .content div:nth-child(4) {
    grid-column: 1/-1;
    grid-row: 4/5;
  }
  .content div:nth-child(5) {
    grid-column: 1/-1;
    grid-row: 5/6;
  }
  .content div:nth-child(6) {
    grid-column: 1/-1;
    grid-row: 6/-1;
  }

  /* end main */
}

/* end media query */

/* animation */

/* dark-mode */
.darkmode-toggle--white,
.darkmode-toggle {
  z-index: 100;
  outline: none;
}
.darkmode--activated header{
  background-color: #111111;
}
.darkmode--activated header .header-text {
  color: #eee
}
.darkmode--activated header .header-text a{
  color: white;
}

